<div class="jumbotron">
    <div class="container">
        <h1>Want to Learn About Sharks?</h1>
        <p>Are you ready to learn about sharks?</p>
        <br>
        <p>
            <%= button_to 'Start your Collection!', items_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
        </p>
    </div>
</div>
